/fixed/dbg/
/fixed/leak/
/fixed/opt/
/fixed/point/
/fixed/thread/
/fixed/uba/
/fixed/opt/

/fixed/prg-dbg
/fixed/prg-leak
/fixed/prg-thread
/fixed/prg-point
/fixed/prg-uba
/fixed/prg

/virtual/dbg/
/virtual/leak/
/virtual/opt/
/virtual/point/
/virtual/thread/
/virtual/uba/
/virtual/opt/

/virtual/prg-dbg
/virtual/prg-leak
/virtual/prg-point
/virtual/prg-thread
/virtual/prg-uba
/virtual/prg

*.o
*.d
